<div id="footer">
    <center style="padding-top:30px;font-size:11px;">
    	<b>published under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a> by the ArchaeoNatural Community (2026)</b>
    	<br>
    	<i>Service responsible: CAU Kiel</i>
    	&nbsp;| <a href="https://www.uni-kiel.de/de/impressum">Impressum / Legal Notice</a>
       	&nbsp;| <a href="https://www.uni-kiel.de/de/datenschutz">Datenschutz / Privacy Policy</a>
    </center>
</div>

<script>$(document).ready(function(){setSVGDimensions()})</script>

</body></html>
